.home-body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 8, 17);
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.home-main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: rgb(255, 255, 255);
}
p {
    color : rgba(255, 255, 255, 0.623)
}
.ordinary {
    background-color: rgba(1, 107, 194, 0.418);
    color: rgba(255, 255, 255, 0.795);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-size: 42px;
    font-family: "Georgia";
    border-radius: 8px;
    padding: 10px 10px;
    transition: 0.5s;
    text-decoration: none;
    }   
.ordinary:hover {
    transform: scale(1.2);
}
.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    border-radius: 12px;
    padding: 25px;
    font-size: 28px;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#profile-image {
    width: 500px; 
    height: 500px; 
    border-radius: 50%; 
    object-fit: cover;
    max-width: 100%;
}
.full-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
header {
    background-color: rgba(1, 107, 194, 0.418);
}
.head-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: 24px;
    padding: 20px 80px;
    box-sizing: border-box;
}
.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link, .nav-logo {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}
.nav-link:hover {
    transform: scale(1.1);  
    text-decoration: underline;
}
.nav-logo:hover {
    transform: scale(1.1);  
}
.footer-content {
    text-align: center;
    padding: 20px;
    color: white;
}




.about-body, .projects-body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 8, 17);
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.about-main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(69, 136, 190, 0.658);
    padding: 30px;
    border-radius: 18px;
}
.skills-h1, .projects-h1, .language-h1 {
    margin: 0;
    padding: 0;
}
.skills-box, .language-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: disc;
    flex-direction: column;
    margin: 0;
    gap: 0px;
    background-color: rgba(69, 136, 190, 0.658);
    padding: 50px;  
    border-radius: 18px;
}
.skills-list, .language-list {
    padding-left: 20px;
    gap: 0px;
    color: rgb(255, 255, 255);
}
.skills-list li, .language-list li {
    color: rgba(255,255,255,.7);
    margin-bottom: 12px;
}
.page-about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
}






.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(69, 136, 190, 0.658);
    padding: 30px;
    border-radius: 18px;
    transition: transform .3s;
}
.project-box:hover {
    transform: translateY(-8px);
}
.projects-main {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.projects-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
    padding: 20px;
}
.projects-h1 {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.664);
}
.check-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: transform 0.3s;
    background-color: rgb(255, 255, 255);
    padding: 12px 20px;
    border-radius: 8px;
}
.check-link:hover {
    transform: scale(1.1);
}



.contact-body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 8, 17);
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contact-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-text{
    max-width:600px;
    text-align:center;
    margin-bottom:40px;
}
.contacts-container {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
    padding: 16px;
}
h2 {
    color: rgb(64, 168, 253);;
}
.contact-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(69,136,190,.65);
    padding: 16px;
    border-radius: 18px;
    width:200px;
    min-height:100px;
}
.contact-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.3s;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    border-radius: 8px;
}
.contact-card{
    transition:.3s;
}
.contact-card:hover{
    transform:translateY(-8px);
}