body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 8, 17);
    margin: 0;
}
h1 {
    color: rgb(255, 255, 255);
}
p {
    color : rgba(255, 255, 255, 0.623)
}
.ordinary {
    background-color: rgb(20, 6, 58);
    color: rgba(255, 255, 255, 0.692);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-size: 42px;
    font-family: "Georgia";
    border-radius: 8px;
    padding: 10px 10px;
    transition: 0.5s;
    text-decoration: none;
    }   
.ordinary:hover {
    transform: scale(1.2);
}
.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    border-radius: 12px;
    padding: 25px;
    font-size: 28px;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#profile-image {
    width: 500px; 
    height: 500px; 
    border-radius: 50%; 
    object-fit: cover;
    max-width: 100%;
}
.full-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    min-height: 100vh;
}

.head-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: 24px;
    padding: 20px 80px;
    box-sizing: border-box;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}
.nav-link:hover {
    transform: scale(1.1);  
}
.nav-logo {   
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}
.nav-logo:hover {
    transform: scale(1.1);  
}